<h1>Create a Song</h1>

<%= form_for @song do |f| %>
  <label>Song Title:</label><br>
  <%= f.text_field :title %>
  <label>Artist:</label><br>
  <%= f.collection_select :artist_id, Artist.all, :id, :name %><br>


  <%= f.submit %>
<% end %>
